*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    height: 92px;
    
}

.navber .nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    height: 24px;
    width: 365px;
}

.nav-link a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navber .nav-button button{
    height: 44px;
    width: 164px;
    background-color: #4a906d;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    border-radius: 6px;
}



